
@{
    ViewBag.Title = "Not Found";
}
<head>
    <link  rel="stylesheet" href="~/css/ErrorPages.css"/>
</head>

<div class="error">
<div class="alert alert-danger mt-2 mb-2">
    <h1>@ViewBag.ErrorMessage</h1>
    <h1>@ViewBag.Path</h1>
    <h1>@ViewBag.QS</h1>
</div>

<a class="btn btn-success" asp-action="index" asp-controller="home">
    Click here to navigate to the home page
</a>

</div>